#mainMenu{
    text-align:right;
    padding:0.3em;
}
#mainMenu ul li {
    padding-right:0.5em;
}
#secondaryMenu {
    margin-left:auto;
    margin-right:auto;
}
.actionEdit {
    background-image:url("images/edit.png");
}
.actionFlag {
    background-image:url("images/flag.png");
}
body div {
    width:689px;
    margin-left:auto;
    margin-right:auto;
    padding-bottom:1em;
}

#mainContact div img {
    padding: 0.5em;
    border-style:solid;
    border-width:1px;
    margin-left:auto;
    margin-right:auto;
}

header h1 {
    background-image:url("images/header-background.png");
}
h1 div{
    width:698px;
}

header img {
    border-style:none;
    margin-left:auto;
    margin-right:auto;
}

h3 {
    background-image:url("images/header-background.png");
}

section {
    margin-left:auto;
    margin-right:auto;
    width:689px;
    border-style:solid;
    border-width:1px;
    margin-bottom:1em;
}
li {
    display:inline;
}

.actions{
    background-image:url("images/header-background");
}


