header, footer {
    background-color:#3D6271;
    margin: 0em, 4em, 0.5em, 4em;
    color: white;
}
h1 {
    font-size:2.5em;
    text-emphasis:italic;
}
h2 {
    font-size:1em;
}
ul{
    background-color:#3D6271;
    padding-top:0.5em;
    padding-bottom:0.5em;
    background-color:#4f79af;
}
li{
    text-align:center;
    display: inline;
    padding-right:1.5em;
    font-size: 1.2em;
    padding-bottom:0.4em;
    font-family:Verdana, Geneva, sans-serif;
}
body {
    background-color:#3D62AA;
}
section {
    background-color:white;
}


