body {
    background-image:url("images/art-background4.jpg");
    background-size:cover;
}
header{
    padding: 0.8em;
    background-color:white;
    width:15em;
}
h1 {
    font-family:"Six Caps",Verdana,Serif;
    font-size:1.1em;
}
header h2 {
    font-family:"Six Caps",Verdana,Serif;
    font-size:0.7em;
}
article {
    width:15em;

    margin-left:2em;
    margin-top:2em;
}
article h2 {
    background-color:white;
    opacity:0.5;
}
